body{ /*postavke za cijelu stranicu*/
    background-color: #f8f8f8;
    margin: 0; 
    font-family: Arial, sans-serif;
}
.navigacija{ /*stil za navigacijski meni*/
    position:fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
   
    
}
.navigacijski_meni{
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin:0 auto;
}
.navigacija ul{ /*stil za listu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px; /*razmak izmedju stavki menija*/
}
.navigacija ul li a{
    color: blue;
    font-weight:bolder;
    font-size:  17px;
}
.navigacija ul li a:hover{/* mijenjanje boje */
    color: #ff9900;
}
